.Add {
	width: 80%;
	height: 86%;
	margin: 0;
	padding: 0;
	top: 14%;
	position: fixed;
}

.Add .FindAddItem {
	display: flex;
	justify-content: space-evenly;
	height: 100%;
}

.Add form {
	margin: 8% 0;
	width: 20%;
	padding: 50px;
	height: 47%;
	display: flex;
	flex-direction: column;
	font-size: 1.5em;
	background-color: var(--gray);
	border-radius: 20px;
}

.Add label {
	margin-bottom: 20px;
	width: 100%;
}

.Add input {
	font-size: .75em;
}

.Add select {
	text-align: center;
	background-color: aqua;
	font-size: .75em;
	width: 100%;
	border: 1px solid black;
	background-color: var(--gray);
	padding: 8px 2px;
	border-radius: 5px;
}

.Add form button {
	width: 50%;
	font-size: 20px;
	color: var(--orange);
	margin: 0 auto;
	padding: 10px;
	background-color: var(--purple);
	border-radius: 5px;
}

.Add form button:hover {
	cursor: pointer;
}

.Add .clothingFromCatalog {
	/* outline: 1px solid red; */
	width: 50%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}
