.catalog {
    width: 80%;
    float: right;
    position: relative;
}

.catalog .title {
    background-color: white;
    border-bottom: solid black 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: fixed;
    height: 14%;
    width: 80%;
    z-index: 1;
}

.catalog .title h1 {
    margin: auto;
}

.catalog .list-container {
    display: flex;
    margin-top: 50px;
}

.catalog .listColor,
.catalog .listType,
.catalog .listStyle,
.catalog .listGender {
    margin-right: 25px;
    width: 20%;
    text-align: center;
    padding: 15px;
    color: #F98D5F;
    font-size: large;
}

.catalog .filterBtn {
    margin-right: 10px;
    width: 20%;
    text-align: center;
    padding: 15px;
}

.catalog .filter {
    margin-top: 70px;
    height: 30%;
    background-color: lightgray;
    color: #F98D5F;
    border: none;
    cursor: pointer;
    width: 75%;
    font-size: 20px;
    border-radius: 10px;
}

.catalog .filter:hover {
    background-color: var(--purple);
}

.catalog .search {
    margin-right: 10px;
    width: 25%;
    padding: 15px;
}

.catalog .search input {
    margin-top: 70px;
    height: 30%;
    width: 75%;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 50px;
}