.catalog {
    width: 80%;
    float: right;
}

.title {
    margin: auto;
    background-color: var(--gray);
    border-bottom: solid black 1px;
    padding: 10px;
}

.list {
    width: 30%;
    float: left;
    text-align: center;
    padding: 15px;
    color: #F98D5F;
    font-size: large;
}