.EditModel .ModelViewer {
    position: absolute;
    top: 10%;
    left: 12%;
}

.EditModel svg {
    height: 90vh;
}

.EditModel .ModelSettings {
    --dark-grey: #353535;
    --middle-grey: #767676;
    --lightest-grey: linear-gradient(#fafafa, #ebebeb);
    --shadow: 0 5px 15px 0 #00000026;
    --shadow-active: 0 5px 5px 0 #00000026;
    --border-radius-main: 10px;
    --border-radius-icon: 50px;
    position: relative;
    left: 40%;
    top: 55px;
    width: 512px;
    height: 512px;
    align-items: center;
    cursor: default;
    color: var(--dark-grey);
    opacity: .9;
    padding: 1.5rem;
    font-weight: 600;
    background: var(--lightest-grey);
    border-radius: var(--border-radius-main);
    box-shadow: var(--shadow);
    transition: .2s ease all;
}

.EditModel .save-model {
    position: relative;
    top: 400px;
    left: 25%;
    width: 12em;
}

.EditModel ul {
    list-style-type: none;
    display: block;
    padding: 0;
    position: absolute;
}

.EditModel .selectColor {
    position: relative;
    display: block;
    text-align: center;
    width: 245px;
    left: 25%;
    top: 55px;
}

.EditModel .gender-setting {
    margin-top: 50px;
    display: flex;
    align-items: center;
    left: 10px;
}

.EditModel .male-icon {
    content: url("../assets/FitCheck_male_template/male_torso.png");
    position: relative;
    fill: linear-gradient(#fafafa, #ebebeb);
    left: 15px;
    /* Align the images to the left of the list items */
    /* Align the images with the top of the list items */
    width: 100px;
    /* Adjust the width of the images */
    height: 100px;
    /* Adjust the height of the images */
    /*margin-top: 4px; /* Adjust the margin to center the images vertically */
}

.EditModel .female-icon {
    content: url("../assets/FitCheck_female_template/female_torso.png");
    position: relative;
    left: 15px;
    /* Align the images to the left of the list items */
    /*top: 0; /* Align the images with the top of the list items */
    width: 80px;
    /* Adjust the width of the images */
    height: 80px;
    /* Adjust the height of the images */
    /*margin-top: 4px; /* Adjust the margin to center the images vertically */
}


.EditModel Button {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}

.EditModel Button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 300px;
    width: 400px;
    border-radius: 50%;
}

.EditModel Button:hover {
    color: #fff;
}

.EditModel Button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.EditModel Button:hover:before {
    top: -50px;
    left: -50px;
}

.EditModel Button:active:before {
    background: #3a0ca3;
    transition: background .5s;
}

.EditModel Button.active {
    color: #fff;
    background: #3a0ca3;
}
