body {
	margin: 0px;
}

h1 {
	font-size: 2.5em;
	height: 40px;
	text-align: center;
	color: var(--orange);
	font-weight: normal;
}

h2 {
	color: var(--orange);
	font-weight: normal;
	font-size: 2em;
}
