.Model {
	height: 86%;
	margin: 0;
	padding: 0;
	position: relative;
}

.Model .ModelViewer svg {
	height: 700px;
	z-index: 0;
}

.Model .ModelViewer {
	position: relative;
	width: fit-content;
	margin: 0 auto;
}

.outfit{
	z-index: 3;
	width: 25%;
	margin: 0 auto;
}

.Model .outfitSettings{
	display: flex;
	flex-direction: column ;
	max-width: fit-content;
	margin-top: -40%;
	margin-left: 70%;
}

.outfit .female_shirt{
	height: 200px;
	width: 12%;
	top: 240px;
	left: 44.1%;
	margin: inherit;
	z-index: 2;
	position: absolute;
}

.outfit .female_pants{
	height: 310px;
	width: 9%;
	top: 400px;
	left: 45.5%;
	margin: inherit;
	z-index: 1;
	position: absolute;
}

.outfit .female_shoes{
	height: 70px;
	width: 6%;
	top: 695px;
	left: 47%;
	margin: inherit;
	z-index: 1;
	position: absolute;
}

.outfit .male_shirt{
	height: 205px;
	width: 185px;
	top: 230px;
	left: 42.6%;
	margin: inherit;
	z-index: 2;
	position: absolute;
}

.outfit .male_pants{
	height: 300px;
	width: 8%;
	top: 415px;
	left: 45.75%;
	margin: inherit;
	z-index: 1;
	position: absolute;
}

.outfit .male_shoes{
	height: 70px;
	width: 6.5%;
	top: 705px;
	left: 46.5%;
	margin: inherit;
	z-index: 1;
	position: absolute;
}

.Model .chevron-left{
	height: 15px;
}
.Model .chevron-right{
	height: 15px;
}

.Model .viewModel{
	--dark-grey: #353535;
	--middle-grey: #767676;
	--lightest-grey: linear-gradient(#fafafa, #ebebeb);
	--shadow: 0 5px 15px 0 #00000026;
	--shadow-active: 0 5px 5px 0 #00000026;
	--border-radius-main: 10px;
	--border-radius-icon: 50px;
	align-items: center;
	cursor: default;
	color: var(--dark-grey);
	opacity: .9;
	padding: 1.5rem;
	font-weight: 600;
	background: var(--lightest-grey);
	border-radius: var(--border-radius-main);
	box-shadow: var(--shadow);
	transition: .2s ease all;
	width: 60%;
	margin-left: 20%;
	min-height: 95%;
}