.Model {
	margin: 0;
	padding: 0;
	position: relative;
}

.Model .ModelViewer svg {
	height: 700px;
	z-index: 0;
}

.Model .ModelViewer {
	position: static;
	width: fit-content;
	margin: 0 auto;
	margin-top: -600px;
}

.outfit {
	z-index: 3;
	width: 60%;
	margin: 0 auto;
	height: 100%;
}

.Model .outfitSettings {
	display: flex;
	flex-direction: column;
	max-width: fit-content;
}

.Model .cycleShirtLeft {
	right: 100px;
}

.Model .cycleShirtRight {
	left: 335px;
}

.Model .cyclePantsLeft {
	right: 100px;
}

.Model .cyclePantsRight {
	left: 335px;
}

.Model .cycleShoesLeft {
	right: 100px;
}

.Model .cycleShoesRight {
	left: 335px;
}

.Model .viewModel {
	--dark-grey: #353535;
	--middle-grey: #767676;
	--lightest-grey: linear-gradient(#fafafa, #ebebeb);
	--shadow: 0 5px 15px 0 #00000026;
	--shadow-active: 0 5px 5px 0 #00000026;
	--border-radius-main: 10px;
	--border-radius-icon: 50px;
	align-items: center;
	cursor: default;
	color: var(--dark-grey);
	opacity: .9;
	padding: 1.5rem;
	font-weight: 600;
	background: var(--lightest-grey);
	border-radius: var(--border-radius-main);
	box-shadow: var(--shadow);
	transition: .2s ease all;
	width: 60%;
	margin-left: 20%;
	min-height: 95%;
}

.Model .leftButtons,
.Model .rightButtons {
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.Model .cyclePantsLeft,
.Model .cyclePantsRight,
.Model .cycleShirtLeft,
.Model .cycleShirtRight,
.Model .cycleShoesLeft,
.Model .cycleShoesRight {
	font-size: 200%;
}

.Model .middle {
	width: 20%;
}

.ModelViewerContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}


.Model .saveFit {
	--color: #560bad;
	font-family: inherit;
	display: inline-block;
	height: 2.6em;
	line-height: 2.5em;
	position: relative;
	overflow: hidden;
	border: 2px solid var(--color);
	transition: color .5s;
	z-index: 1;
	font-size: 17px;
	border-radius: 6px;
	font-weight: 500;
	color: var(--color);
	left: 42.5%;
	width: 15%;
	font-size: x-large;
}

.Model .saveFit:before {
	content: "";
	position: absolute;
	z-index: -1;
	background: var(--color);
	height: 300px;
	width: 400px;
	border-radius: 50%;
}

.Model .saveFit:hover {
	color: #fff;
}

.Model .saveFit:before {
	top: 100%;
	left: 100%;
	transition: all .7s;
}

.Model .saveFit:hover:before {
	top: -50px;
	left: -50px;
}

.Model .saveFit:active:before {
	background: #3a0ca3;
	transition: background .5s;
}

.Model .saveFit.active {
	color: #fff;
	background: #3a0ca3;

}

.Model .confirmSave {
	--color: #560bad;
	font-family: inherit;
	display: inline-block;
	height: 2.6em;
	line-height: 2.5em;
	position: relative;
	overflow: hidden;
	border: 2px solid var(--color);
	transition: color .5s;
	z-index: 1;
	font-size: 17px;
	border-radius: 6px;
	font-weight: 500;
	color: var(--color);
	width: fit-content;
	top: 5%;
	font-size: large;
}

.Model .confirmSave:before {
	content: "";
	position: absolute;
	z-index: -1;
	background: var(--color);
	height: 300px;
	width: 400px;
	border-radius: 50%;
}

.Model .confirmSave:hover {
	color: #fff;
}

.Model .confirmSave:before {
	top: 100%;
	left: 100%;
	transition: all .7s;
}

.Model .confirmSave:hover:before {
	top: -50px;
	left: -50px;
}

.Model .confirmSave:active:before {
	background: #3a0ca3;
	transition: background .5s;
}

.Model .confirmSave.active {
	color: #fff;
	background: #3a0ca3;

}

.Model .shirtContainer svg {
	width: 75px;
	height: 80px;
}

.Model .pantsContainer svg {
	width: 80px;
	height: 100px;
}

.Model .shoesContainer svg {
	width: 70px;
	height: 50px;
}

.Model .loader {
	border: 16px solid #f3f3f3;
	/* Light grey */
	border-top: 16px solid #3498db;
	/* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	margin: auto;
	position: absolute;
	top: 400px;
	left: 0;
	bottom: 0;
	right: 0;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.notFullFit {
	text-emphasis: bold;
	font-size: xx-large;
}