.ModelNav {
	height: 14%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border-bottom: 1px solid black;
	position: relative;
	z-index: 1;
}

.ModelNav Button {
	position: relative;
	margin: auto;
	height: fit-content;
	width:fit-content;
	border-radius: 50%;
	color: var(--purple);
	border: 1px;
}

.ModelNav button:hover {
	cursor: pointer;
}

.ModelNav .editModel{
	margin-left: 10%;
	border-radius: 50%;
}

.ModelNav .navBack {
	font-size: 40px;
	margin-left: 10%;
	color: var(--purple);
	border-radius: 50%;
}

.ModelNav .addFromCloset {
	margin-right: 10%;
	border-radius: 50%;
}