.navigation {
	height: 100%;
	width: 20%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--gray);
	overflow-x: hidden;
	overflow-y: hidden;
}

/* 
.navigation Link {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 20px;
  font-size: 25px;
  cursor: pointer;
} */

.navigation .logo {
	position: relative;
	height: fit-content;
	display: flex;
	flex-direction: row;
	color: black;
	right: 0%;
	top: 2%;
}

.navigation .logo img {
	width: 20%;
}

.navigation .home {
	top: -5%;
}

.navigation .model {
	top: -10%;
}

.navigation .catalog {
	top: -15%;
}

.navigation .profile {
	top: -5%;
}

.navigation div {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.navigation div a {
	margin: 50px !important;
	transition: none;
	font-size: 25px;
	text-align: center;
	width: 80%;
	padding: 15px 0;
	display: block;
	color: var(--orange);
	text-decoration: none;
	border-radius: 10px;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.navigation div a:hover {
	background-color: var(--purple);
}

.navigation img {
	font-size: .6em;
}