.OutfitCard {
	width: 300px;
	height: 420px;
	border-radius: 5%;
	background-color: var(--gray);
	margin: 30px;
	border: 1px black solid;
}

.OutfitCard img {
	height: 85%;
	width: 120%;
	margin-left: -10%;
}

.OutfitCard p {
	margin: 0;
	font-size: 1.25em;
	text-align: center;
	height: 15%;
	padding: 5px 15px;
}