.profile {
	width: 80%;
	float: right;
}

.profile h1 {
	font-size: 2.5em;
	height: 40px;
	text-align: center;
	color: var(--orange);
	font-weight: normal;
}

.profile .settings {
	margin: auto;
	text-align: center;
	padding: 10px;
	background-color: white;
	border-bottom: solid black 1px;
}

.profile .account {
	margin: auto;
	max-width: 500px;
	text-align: center;
	/* 	background-color: ;
 */
	border-radius: 8px;
}

.profile .profileImg {
	margin: auto auto 20px auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	text-align: center;
	border: 3px solid lightgray;
}

.profile .profileImg p {
	margin: auto;
}

.profile .info {
	margin: 10px auto auto auto;
	max-width: 500px;
	background-color: lightgray;
}

.profile table,
.profile td,
.profile th {
	border: 1px solid black;
	text-align: left;
}

.profile table {
	border-collapse: 100%;
	width: 100%;
}

.profile th,
.profile td {
	padding: 10px;
}

.profile .edit {
	margin: auto;
	text-align: center;
	padding: 20px;
}

.profile .editButton {
	border-radius: 12px;
	cursor: pointer;
	padding: 5px;
}

.profile .changePWbutton {
	border-radius: 12px;
	margin-left: 20px;
	cursor: pointer;
	padding: 5px;
}

.profile .password {
	text-align: center;
	margin: 10px;
	border-radius: 12px;
	cursor: pointer;
}

.profile .themes {
	margin: auto auto 30px auto;
	max-width: 500px;
	text-align: center;
	border-radius: 8px;
	padding-top: 1px;
	background-color: lightgray;
}

.profile .themes h2 {
	margin: 10px 0px 10px 0px;
}

.profile .themes p {
	padding-bottom: 10px;
	font-size: large;
	margin: 0px;
}

.profile Select {
	height: 2x;
}

.profile .privacy {
	margin: auto;
	max-width: 500px;
	text-align: center;
	border-radius: 8px;
	padding-top: 1px;
	background-color: lightgray;
}

.profile .privacy h2 {
	margin: 10px 0px 10px 0px;
}

.profile .privacy p {
	font-size: large;
}

.profile .logOut {
	margin: auto;
	text-align: center;
	padding: 20px;
}

.profile .logOut .logOutBtn {
	margin-top: 10px;
	border-radius: 12px;
	cursor: pointer;
	padding: 5px;
}