.profile {
	width: 80%;
	float: right;
}

body {
	margin: 0px;
}

.profile h1 {
	font-size: 2.5em;
	height: 40px;
	text-align: center;
	color: var(--orange);
	font-weight: normal;
}

.profile .settings {
	margin: auto;
	text-align: center;
	padding: 10px;
	background-color: lightgray;
}

.profile .account {
	margin: auto;
	max-width: 500px;
	text-align: center;
	background-color: lightgray;
	border-radius: 8px;
}

.profile .profileImg {
	margin: auto auto 20px auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	text-align: center;
	border: 3px solid lightgray;
}

.profile .profileImg,
.profile p {
	margin: auto;
}

.profile .info {
	margin: 10px auto auto auto;
	max-width: 500px;
	background-color: lightgray;
}

.profile table,
td,
th {
	border: 1px solid black;
	text-align: left;
}

.profile table {
	border-collapse: 100%;
	width: 100%;
}

.profile th,
td {
	padding: 10px;
}

.profile .edit {
	margin: auto;
	text-align: center;
	padding: 20px;
}

.profile .editButton {
	border-radius: 12px;
	cursor: pointer;
}

.profile .password {
	text-align: center;
	margin: 10px;
	border-radius: 12px;
	cursor: pointer;
}

.profile .themes {
	margin: auto auto 30px auto;
	max-width: 500px;
	text-align: center;
	border-radius: 8px;
	padding-top: 1px;
	background-color: lightgray;
}

.profile Select{
  height: 2x;
}

.profile .privacy {
  margin: auto;
  max-width: 500px;
  text-align: center;
  border-radius: 8px;
  padding-top: 1px;
  background-color: lightgray;
}

.profile .privacy h2 {
	margin: 10px 0px 10px 0px;
  }

.profile .logOut{
	margin: auto;
	text-align: center;
	padding: 20px;
  }
  
.profile .logout, .profile button {
	margin-top: 10px;
	border-radius: 12px;
	cursor: pointer;
  }
