.NavButton {
	text-align: center;
	font-size: 30px;
	margin: 45px 0;
}

.NavButton a {
	padding: 25px 0;
	display: block;
	color: var(--orange);
	text-decoration: none;
	border-radius: 10px;
	background-color: white;
	border: 1px solid black;
}

.NavButton a:hover {
	background-color: var(--purple);
	cursor: pointer;
}